.App {
  text-align: center;
}

.showButton {

  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}


.showButton:hover{
  font-weight: bold;
}

.red {
  background-color: red;
}

.charElement {
  border: 1px solid black;
  padding:  16px;
  display: inline-block;
  margin: 16px;
  text-align: center;
  cursor: pointer;
}
.charElement:hover{
  font-weight: bold;
}